.header {
  margin: 0px;
  padding: 16px 24px;
  position: fixed;
  z-index: 200;
  color: $primary-text;
  font-size: 32px;
  font-weight: lighter;
}

@media (min-width: 900px){
  .header {
    color: $white;
    text-shadow: 1px 1px 0px $dark-primary-color;
  }
}
