html {
  font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h3, h5, h6, p {
  margin: 0;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif !important
}

h3 {
  margin: 16px 0px;
  font-weight: lighter;
  // letter-spacing: 0.5px;
}
