$white: #fff;
$divider-color: #BDBDBD;
$primary-color: #F44336;
$dark-primary-color: #D32F2F;
$light-primary-color: #FFCDD2;
$primary-text: #212121;
$secondary-text: #757575;
$dark-gray: #aaa;
$gray: #ccc;

@import "./sass/typography";
@import "./sass/layout";
@import "./sass/material-icons";
@import "./sass/header";
@import "./sass/graph";
@import "./sass/inputs";
@import "./sass/lists";
@import "./sass/questions";

.debug {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  display: none;
}

@media (max-width: 900px){
  .sidepanel-toggle {
    color: $primary-text;
  }
}

.active {
  .header {
    color: $white;
  }
  .sidepanel-toggle {
    color: $white;
  }
  .content {
    @media (max-width: 900px){
      transform: translateX(0%);
    }
  }
}
