// button {
//   border: none;
//   background-color: transparent;
//   font-size: 20px;
//   line-height: 17px;
//   padding: 10px;
//   border-radius: 30px;
//   border: 1px solid transparentize($c-white, 0.8);
//   color: $c-white;
//   cursor: pointer;
//
//   &:hover {
//     background-color: transparentize($c-white, 0.8);
//   }
// }

select {
  margin-bottom: 20px;
  flex-grow: 1;
}

option {
  padding: 15px 0px;
}
