// @import 'reset';

// $c-primary: olivedrab;
$c-primary: darken(#fe5619, 10%);
$c-white: #f9f9f9;

$f-stack: 'Open Sans', sans-serif;
$f-dark: #666;
$f-white: $c-white;

html,
body {
  height: 100%;
  color: $c-primary;
  font-family: $f-stack;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    width: 100vw;
    overflow-x: hidden;
}

*:focus {
    outline: none;
}



@import 'mixins';
@import 'type';
@import 'inputs';
@import 'header';
@import 'content';
@import 'navigation';
@import 'questions';
